body {
  /* background: rgb(66, 66, 66);
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */
  background: linear-gradient(to right, #00AAFF, #00FF6C);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 44px;
  text-align: center;
  color: rgb(94, 18, 8);
}
.description {
  transition: 0.9s ease-in-out;
}
